<!DOCTYPE html>
<html lang="kr" xmlns:th=":http://www.thymeleaf.org">
    <!-- Navigation Bar -->
    <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg bg-light" >
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/manager}" >관리자페이지</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" th:if="${session.principal == null}">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/manager/login}">로그인</a>
                        </li>
                    </ul>
                    <span class="navbar-text" th:if="${session.principal == null}">
                        로그인하세요.
                    </span>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" th:if="${session.principal != null}">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" th:href="@{/manager}">사용자 목록</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" th:href="@{http://ec2-34-228-10-85.compute-1.amazonaws.com/login}">연간아이돌</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/manager/logout}">로그아웃</a>
                        </li>
                    </ul>
                    <span class="navbar-text" th:if="${session.principal != null}">
                        박민철 방민선 백지욱 정태욱 | 강주희 길민준 문준호 @ 패스트캠퍼스5th
                    </span>
                </div>
            </div>
        </nav>
        <hr class="border border-secondary border-3 opacity-75">
    </div>
    <!-- Navigation Bar END -->
</html>